---
import examsJson from "../data/exams.json";
import RenderExams from "./renderExams.astro";

const subjects = Object.keys(examsJson).sort();
---

<h1 id="zaliczenia">Zaliczenia</h1>

{
  subjects.map((subject) => (
    <div>
      <h2>{subject}</h2>
      {Array.isArray(examsJson[subject]) && (
        <RenderExams subject={examsJson[subject]} client:load />
      )}
    </div>
  ))
}
