---
import RenderExams from "./renderExams.astro";
interface Props {
  subject: string;
}

const { subject } = Astro.props;

import examsJson from "../data/exams.json";
---

<h2>Zaliczenia</h2>

{
  examsJson[subject] ? (
    <RenderExams subject={examsJson[subject]} client:load />
  ) : (
    <p>Pusto...</p>
  )
}
