---
const links = [
  { label: "Wykłady", link: "/#wyklady" },
  { label: "Egzaminy", link: "/#zaliczenia" },
];
---

<nav
  class="w-full py-4 md:py-8 px-2 md:px-6 md:text-lg font-bold border-b-2 border-b-orange-400 mb-12 uppercase"
>
  <div
    class="flex flex-wrap items-center sm:justify-between gap-y-2 gap-x-4 lg:gap-x-8"
  >
    <h1><a href="/">UniBase</a></h1>
    <div class="flex flex-wrap gap-y-2 gap-x-4 lg:gap-x-8">
      {
        links.map((link) => (
          <div>
            <a href={link.link}>{link.label}</a>
          </div>
        ))
      }
    </div>
  </div>
</nav>
